---
<div class="content">
    <div class="page-header">
        <h2>Acerca del taller <small>y esta documentación</small></h1>
    </div>
    <div class="row">
        <div class="span10">
            <p>Esta documentación fue desarrollada para el taller realizado en el marco de Agenda Digital, organizado por Jefatura de Gabinete de Ministros y el Instituto Geográfico Nacional, Ministerio de Defensa.</p>
        </div>
    </div>
</div>
