<div class="content">
    <h2 id="1">Ayuda y soporte de argenmap</h2>

    <h3>Preguntas y respuestas</h3>
    <p>
      Podés usar este foro para sacarte dudas acerca de lo que
      viste en el taller.
    </p>
    <div class="row">
        <div class="span12">
            <iframe style="width:100%;height:600px" title="iframe de google groups incrustable" id="forum_embed"
              src="javascript:void(0)"
              scrolling="no"
              frameborder="0"
            >
            </iframe>
            <script type="text/javascript">
              document.getElementById('forum_embed').src =
                 'https://groups.google.com/forum/embed/?place=forum/argenmap-jquery'
                 + '&showsearch=true&showpopout=true&showtabs=false'
                 + '&parenturl=' + encodeURIComponent(window.location.href);
            </script>
        </div>
    </div>
</div>
