<footer class="footer">
	<div class="container">
    <div class="row-fluid">
      <div class="span8">

* "Guía de argenmap.jquery v1":http://ign.gob.ar/argenmap/argenmap.jquery/docs/guia.html

* "Ejemplos con argenmap.jquery":http://ign.gob.ar/argenmap/argenmap.jquery/docs/ejemplos.html

* "Documentación de argenmap.jquery":http://ign.gob.ar/argenmap/argenmap.jquery/docs/api.html

* "Foro de soporte":soporte.html        
      </div>
      <div class="span4">
        <div>
          <a alt="Sitio del IGN de Argentina" href="http://www.ign.gob.ar"><img alt="Logo del instituto Geográfico Nacional de Argentina" style="max-height:100px" src="http://www.ign.gob.ar/sites/default/files/logo2012blanco.png"/></a>
        </div>    
          <p><strong>argenmap</strong> es un servicio web del <a href="http://www.ign.gob.ar" target="_blank">Instituto Geográfico Nacional</a> de la República Argentina.</p>

          <p>El código de argenmap.jquery está disponible bajo una <a href="http://www.ign.gob.ar/argenmap/argenmap.jquery/LICENCIA" target="_blank">licencia</a> basada en la BSD.</p>
      </div>
    </div>
	</div>
</footer>
